<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комментарий</title>
</head>
<body>
    <p><a href="/">Главная</a></p>

        {% if request.user.is_authenticated %}
            <p><i>Автор комментария: {{ request.user.username }}</i></p>
        {% else %}
            <p><i>Автор комментария: аноним</i></p>
        {% endif %}
    <form  method="post">
        {% csrf_token %}
        {{ form.comment }}

        <p><button type="submit">Сохранить</button></p>
    </form>

</body>
</html>