<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новость</title>
</head>
<body>
    <p><a href="/">Главная</a></p>
    <form  method="post">
        {% csrf_token %}
        <p>Заголовок: {{ form.title }}</p>
        <p>Содержание: {{ form.description }}</p>
        <p>Теги: {{ form.tag }}</p>
        <p><a href="{% url 'AddTagView' newsitem.pk %}">Добавить Тег</a></p>
        {% if perms.app_users.can_publish %}
            <p>Опубликована: {{ form.is_active }}</p>
        {% endif %}
        <p><button type="submit">Сохранить</button></p>
    </form>

    <h1>{{ message }}</h1>
</body>
</html>