{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Blog article" %}</title>
</head>
<body>
    <p><a href="/">{% trans "Main" %}</a></p>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% trans "Title " %}{{ form.title }}</p>
        <p>{% trans "Description " %}{{ form.description }}</p>
        {% for image in  blog.image_link.all %}
            <img src="{{ image.image.url }}" height="250" >
        {% endfor %}
        <p>{% trans "Images " %}{{ form.images }}</p>

        <p><button type="submit">{% trans "Save" %}</button></p>
    </form>
</body>
</html>
