<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>User </title>
</head>
<body>
<h2>Пользователь: {{ user.username }}</h2>
<p>Имя: {{ user.first_name }} </p>
<p>Фамилия: {{ user.last_name }} </p>
<p>email: {{ user.email }} </p>
<p>Город: {{ user.profile.city }} </p>
<p>email: {{ user.profile.phone }} </p>
{% if user.profile.is_verified %}
    <p>Верифицирован: Да
{% else %}
    <p>Верифицирован: Нет
{% endif %}
<p>Опубликовано новостей: {{ user.profile.news_numbers }} </p>
<p><a href="/">Главная</a></p>
</body>
</html>