<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
<p><a href="/">Главная</a></p>

<h1>{{ newsitems.title }}</h1>

<p>{{ newsitems.description }}</p>
<p>Дата создания: {{ newsitems.created_at }}</p>
<p>Дата изменения: {{ newsitems.edit_at }}</p>
<br>
<ul>
    {% for comment in  newsitems.news_link.all %}
        <li><p>Комментарий: {{ comment.comment }}</p></li>
        <p><i>Автор комментария: {{ comment.user }}</i></p>
    {% endfor %}
</ul>

</body>
</html>
