<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
<p><a href="/">Главная</a></p>

<h1>{{ newsitems.title }}</h1>
<ul>
    <li><p>{{ newsitems.description }}</p></li>
    <li><p>Дата создания: {{ newsitems.created_at }}</p></li>
    <li><p>Дата изменения: {{ newsitems.edit_at }}</p></li>
    <br>
     {% for comment in newsitems.all %}
         <p>!!!!!!!!!!!!!!!!</p>
        <li><p>Автор комментария: {{ comment.user }}</p></li>
        <li><p>Автор комментария: {{ newsitems.comment_set.user }}</p></li>
        <li><p>Автор комментария: {{ newsitems.Comment_set.user }}</p></li>
        <li><p>Автор комментария: {{ newsitems.comment.user }}</p></li>
        <li><p>Автор комментария: {{ object.news_fk.user }}</p></li>
        <li><p>Автор комментария: {{ object.news_link.user }}</p></li>
         <p>Комментарий: {{ comment.comment }}</p>
     {% endfor %}
</ul>

</body>
</html>
