<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Изменить аккаунт</h2>
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <p>Пользователь: {{ form.username }}</p>
    <p>Имя: {{ form.first_name }} </p>
    <p>Фамилия: {{ form.last_name }} </p>
    <p>Аватар: {{ form.avatar }} </p>
    <p><img src="{{ request.user.avatar_link.avatar.url }}" height="250"></p>
    <button type="submit">Сохранить</button>
</form>
<p><a href="/">Главная</a></p>
</body>
</html>