<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>

{% if request.user.is_authenticated %}
    <h3>Добро пожаловать, {{ request.user.username }}
        <img src="{{ request.user.avatar_link.avatar.url }}" height="80"></h3>
    <p><a href="{% url 'account' request.user.pk %}">Изменить аккаунт</a></p>
    <p><a href="{% url 'logout' %}">Выйти</a></p>
{% else %}
    <h3>Вы не авторизованы</h3>
    <p><a href="{% url 'login' %}">Войти</a></p>
    <p><a href="{% url 'register' %}">Зарегистрироваться</a></p>
{% endif %}

<p><a href="{% url 'add_tasks' %}">Примеры и дополнительные задания. Тестирование</a></p>

<br>

{% if perms.app_blog.add_blog %}
    <p><a href="{% url 'AddBlogView' %}">Добавить запись</a></p>
    <p><a href="{% url 'UploadCSVView' %}">Загрузить записи из CSV файла</a></p>
{% endif %}



{% if blog %}
    <ul>
    {% for blogitem in blog %}
        <li>
            <h3><a href="{% url 'BlogDetailView' blogitem.pk %}">{{ blogitem.title }}</a></h3>
            {% if perms.app_blog.change_blog %}
                <a href="{% url 'EditBlogView' blogitem.pk %}">Редактировать запись</a>
            {% endif %}
            <p>{{ blogitem.description|truncatechars:100 }}</p>
                {% for image in blogitem.image_link.all %}
                    <img src="{{ image.image.url }}" height="150" >
                {% endfor %}
            {% if blogitem.user %}
                <p>Автор: {{ blogitem.user }}; Дата создания: {{ blogitem.created_at }}</p>
            {% else %}
                <p>Дата создания: {{ blogitem.created_at }}</p>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Записей нет</p>
{% endif %}

</body>
</html>