<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объявления</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="/about">О компании</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/categories">Категории объявлений</a></li>
        <li><a href="/regions">Регионы</a></li>
    </ul>
</nav>

<h2>Объявления</h2>
<h3>Услуги</h3>
    <ul>
    {% for advertisement in service_advertisements %}
        <li>{{ advertisement }}</li>
    {% endfor %}
    </ul>

<h3>Дома на продажу</h3>
    <ul>
    {% for advertisement in house_advertisements %}
        <li>{{ advertisement }}</li>
    {% endfor %}
    </ul>

<h3>Велосипеды и запчасти</h3>
    <ul>
    {% for advertisement in bicycle_advertisements %}
        <li>{{ advertisement }}</li>
    {% endfor %}
    </ul>

</body>
</html>
