<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "css/img.css" %}" />
    <title></title>
</head>
<body>

<h1>Прошел все курсы на SkillBox</h1>
<h2>Продаю готовые домашние задания</h2>
<ul>
    <li><a href="ad_1">Python-разработчик с нуля</a></li>
    <li><a href="ad_2">Система контроля версий Git</a></li>
    <li><a href="ad_3">Веб-вёрстка для начинающих 2.0 (2019)</a></li>
    <li><a href="ad_4">Язык запросов SQL</a></li>
    <li><a href="ad_5">Профессия Python-разработчик ПОЛНОСТЬЮ</a></li>
</ul>
<img src="{% static "img/skillbox.png" %}" alt="Git lesson" >
</body>
</html>
